# Directorio de bibliotecas o plugins:
node_modules
vendor

# Archivos SQL.
*.sql

# Variables de entorno.
.env*
.type*

# Los que se permitirán
!.env.example
!.env.type.example
!.type.example

# Ignorar el directorio de almacenamiento:
uploads
storage
public/subdirectorio

# Commit ignorado en este proyecto:
commit.txt
commit.md
info.txt

# Archivos para generar sistemas operativos
dlunire-os.php
dlunire-os.bin
dlunire-os.iso
dlunire.php
build.sh
iso-build
read.php